@{
    ViewData["Title"] = "Home Page";
}

<div class="home-greating">
    <h1>
         We are here to welcome you to our service.
    </h1>
    <h3>
         To use currency exchange, please register or log in to the system
    </h3>
</div>