@if (!User.Identity.IsAuthenticated)
{
    <a class="reg-link" asp-controller="Registration" asp-action="Register">Registration</a>
    <a class="reg-link" asp-controller="Login" asp-action="LogIn">LogIn</a>
}
else
{
    <p>Hello, @User.Claims.Single(s=>s.Type=="email").Value!</p>
}