@{
    ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="home-greating">
        <h1>
            We are here to welcome you to our resource.
        </h1>
        <h3>
            To use currency exchange, please register or log in to the system
        </h3>
    </div>
}
else
{
    <div class="btn-exchange">
        <a asp-controller="Exchange" asp-action="ExchangePage">Exchanger</a>
    </div>
    <div class="home-greating">
        <h1>
            Hello, @User.Identity.Name
        </h1>
        <h3>
            Now you can use the functions of our resource
        </h3>
    </div>
}