<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @await Html.PartialAsync("_CssPartial")
    <title>@ViewBag.Title</title>
</head>
<body>
    @await Html.PartialAsync("_NavBarPartial")
<div>
    @RenderBody()
</div>
    @await Html.PartialAsync("_ScriptsPartial")
</body>
</html>
