.red-link {
    color: red;
    font-size: 13px;
    font-style: italic;
}

.btn-login {
    padding: 5px 10px;
    background: #1E90FF;
    border-radius: 3px;
}

.btn-exchange {
    display: inline-block;
    padding: 5px 10px;
    background: #0000FF;
    border-radius: 3px;
}

.btn-reg {
    padding: 5px 10px;
    background: #0000FF;
    border-radius: 3px;
}


#main-log {
    position: absolute;
    right: 40%;
    top: 7px;
    font-size: 30px;
    font-family:monospace;
    font-style: inherit;
    font-weight: bold;
    text-shadow: #dddddd 1px 2px 3px;
}

#reg-log {
    position: absolute;
    right: 10px;
    top: 2px;
}

.celendar {
    text-align: center;
    color: #2F4F4F;
    background: #87ceeb;
    font-size: 13px;
}

.home-greating {
    margin-top: 17%;
    text-align: center;
    padding: 10px 10px;
    background: #1e90ff;
    color: white;
    border-radius: 5px;
}

.rate-title {
    text-align: center;
    padding: 10px 10px;
    background: #A9A9A9;
    color: white;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus ,input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

/* Установите стиль для всех кнопок */
button {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}

.container {
    padding: 16px;
}

/* Модальный (фон) */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Модальное содержание/бокс */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% сверху, 15% снизу и по центру */
    border: 1px solid #888;
    width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Кнопка закрытия (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .signupbtn {
        width: 100%;
    }
}


.reg-log-label {
    font-weight: bold;
}

/*Table styles*/

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #FFFACD;
    text-shadow: #0000ff 1px 2px 3px;
    margin: auto;
}

.caption-col {
    padding: 10px;
    color: #FFFFE0;
    background: #00008B;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    caption-side: top;
}

th {
    border-bottom: 3px solid #0000FF;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
}

tr:nth-child(odd) {
    background: #87CEEB;
}

tr:nth-child(even) {
    background: #1E90FF;
}