@model ExchangeHistory

@{
    ViewData["Title"] = "Exchanger";

    var currencyRateService = new CurrencyRateService();

    var listOfCurrencyCode = await currencyRateService.GetCurrenciesCodeAsync();
}

@*<h4 class="heading text-center display-2">
    Exchange your currency!Thanks for using our service</h4>*@

<div class="exchange-greating">
    <h1>
        Exchange your currency!
    </h1>
    <h3>
        Thanks for using our service
    </h3>
</div>
<div class="container">
    <form class="main" asp-controller="Exchange" asp-action="ExchangePage">
  
            <div class="form-group">
                <label for="oamount">
                    Amount to Convert : 
                </label>
                <input type="text" 
                       class="form-control searchBox" 
                       placeholder="0.00" 
                       id="oamount"
                       asp-for="CurrentCurrencyValue">
            </div>
  
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">From</span>
                        </div>
                        <select class="form-control from" asp-for="CurrentCurrencyСС">
                            @foreach (var item in listOfCurrencyCode)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </div>
  
                <div class="col-sm-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">To</span>
                        </div>
                        <select class="form-control to" asp-for="DesiredСurrencyСС">
                            @foreach (var item in listOfCurrencyCode)
                            {
                              <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
  
            <div class="text-center">
                <button class="btn btn-primary convert m-2" 
                        type="submit">
                     Convert
              </button>
            </div>
        </form>
    </div>