@model ExchangeHistory

@{
    ViewData["Title"] = "Successful";
}

<h1>Infomation about exchange</h1>
<p>UserId: @Model.UserId</p>
<p>RateOfExchange :@Model.RateOfExchange</p>
<p>CurrentCurrencyСС :@Model.CurrentCurrencyСС</p>
<p>CurrentCurrencyValue :@Model.CurrentCurrencyValue</p>
<p>DesiredСurrencyСС: @Model.DesiredСurrencyСС</p>
<p>DesireCurrencyValue: @Model.DesireCurrencyValue</p>
<p>@Model.time</p>